<%= stylesheet_link_tag('_navbar')%>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
        <h1><%= link_to "CVmaker",root_path,class:"navbar-brand" %></h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>  
        
        <div class="collapse navbar-collapse" id="navbarNav">
        <b><ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to "About",about_path,class:"nav-link" %>
                </li> 
                <li class="nav-item">
                    <%= link_to "Tools",tool_path,class:"nav-link" %>
                </li>
                <li class="nav-item">    
                    <%= link_to "Resume",about_path,class:"nav-link" %> 
                </li>
                <li class="nav-item">    
                    <%= link_to "CV",about_path,class:"nav-link" %> 
                </li>      
                <li class="nav-item">    
                    <%= link_to "Cover letter",about_path,class:"nav-link" %> 
                </li>
            </ul></b>
        </div>
        <div >
            <%# <%= button_to("My Account",class: "btn btn-primary")  %>
            <button class="favorite styled" type="button" 
               onclick="window.location.href = 'http://[::1]:3000/sign_in';">My Account
            </button>
        </div>
   </div> 
   
</nav> 